input[type="date"] {
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.09302 9.40399H20.917' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.442 13.31H16.451' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.005 13.31H12.014' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.55798 13.31H7.56698' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.442 17.196H16.451' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.005 17.196H12.014' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.55798 17.196H7.56698' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0439 2V5.291' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.96594 2V5.291' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2383 3.57919H7.77096C4.83427 3.57919 3 5.21513 3 8.22222V17.2719C3 20.3262 4.83427 22 7.77096 22H16.229C19.175 22 21 20.3546 21 17.3475V8.22222C21.0092 5.21513 19.1842 3.57919 16.2383 3.57919Z' stroke='%23232445' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  padding-right: 45px;
  z-index: 2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #5e6162;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none
}

.check {
  position: relative;
  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    &:checked+label {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.15933 8.35215C3.93804 8.35215 3.71675 8.26836 3.54702 8.09863L0.253467 4.80508C-0.0838379 4.46777 -0.0838379 3.91992 0.253467 3.58262C0.590771 3.24531 1.13862 3.24531 1.47593 3.58262L4.15933 6.26602L9.52397 0.899219C9.86128 0.561914 10.4091 0.561914 10.7464 0.899219C11.0837 1.23652 11.0837 1.78438 10.7464 2.12168L4.76948 8.09863C4.6019 8.26621 4.38062 8.35215 4.15933 8.35215Z' fill='white'/%3E%3C/svg%3E");
        border-color: #FFD3E0;
        background-color: #CA003D;
      }
    }
    &:disabled+label {
      color: #AAAAAA;
      pointer-events: none;
    }
  }
  label {
    padding-left: 40px;
    position: relative;
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #BBC7DE;
      border-radius: 3px;
      width: 19px;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all .100s;
    }
  }
}

.search-field{
  position: relative;
  input{
    width: 100%;
    height: 52px;
    background: #FAFBFF;
    border: 1px solid #C1CAE7;
    border-radius: 8px;
    padding: 0 20px 0 50px;
    font-weight: 600;
    font-size: 14px;
    &::placeholder{
      color: #A0A1C0;
    }
    &:focus{
      border-color: #6D71F9;
    }
  }
  svg{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.select__control{
  background-color: #F1F6FE !important;
  border: 1px solid #E0EBFC !important;
  border-radius: 8px !important;
  transition: all 0s !important;
  font-weight: 600;
  font-size: 15px;
  height: 48px;
  &--is-focused{
    border-color: #6D71F9 !important;
    box-shadow:none !important;
  }
  &--menu-is-open{
    z-index: 10;
    border-radius: 8px 8px 0 0 !important;
    background-color: #fff !important;
    .select__dropdown-indicator{
      svg{
        transform: rotate(180deg);
      }
      path{
        fill:#6D71F9
      }
    }
  }
}

.select{
  &__menu{
    margin: -2px 0 0 0 !important;
    padding: 0 !important;
    background: #FFFFFF;
    border: 1px solid #6D71F9;
    border-top: none;
    box-shadow: 0px 0px 17px #DAE5F8 !important;
    outline: none !important;
    border-radius:0 0 8px 8px !important;
    overflow: auto;
    max-height: 296px;
    z-index: 5;
    &-list{
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none;
      outline: none;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: #E2E5F1;
        border-radius: 3px;
      }
    }
  }
  &__indicator{
    padding-right: 20px !important;
    path{
      fill:#232445
    }
    &-separator{
      opacity: 0;
    }
  }
  &__option{
    border: none;
    border-top: 1px solid #D3D9EB;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    height: 40px !important;
    color: #232445;
    &:hover{
      color: #6D71F9;
    }
    &--is-selected{
      color: #6D71F9 !important;
      background: #F7F9FF !important;
    }
  }
  &__multi{
    &-value{
      margin: 4px 2.5px !important;
      height: 38px;
      background: #6D71F9 !important;
      border-radius: 8px !important;
      color: #fff;
      padding: 0 15px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      &__label{
        color: inherit !important;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 15px !important;
      }
      &__remove{
        margin-left: 10px;
        width: 12px;
        height: 12px;
        padding: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.41425 6.00025L11.7072 1.70725C12.0982 1.31625 12.0982 0.68425 11.7072 0.29325C11.3162 -0.09775 10.6842 -0.09775 10.2933 0.29325L6.00025 4.58625L1.70725 0.29325C1.31625 -0.09775 0.68425 -0.09775 0.29325 0.29325C-0.09775 0.68425 -0.09775 1.31625 0.29325 1.70725L4.58625 6.00025L0.29325 10.2933C-0.09775 10.6842 -0.09775 11.3162 0.29325 11.7072C0.48825 11.9022 0.74425 12.0002 1.00025 12.0002C1.25625 12.0002 1.51225 11.9022 1.70725 11.7072L6.00025 7.41425L10.2933 11.7072C10.4882 11.9022 10.7443 12.0002 11.0002 12.0002C11.2562 12.0002 11.5122 11.9022 11.7072 11.7072C12.0982 11.3162 12.0982 10.6842 11.7072 10.2933L7.41425 6.00025Z' fill='white'/%3E%3C/svg%3E");
        background-size: 100% auto;
        background-repeat: no-repeat;
        svg{
          display: none;
        }
        &:hover{
          background-color: transparent !important;
        }
      }
    }
  }
}

.select__value-container--is-multi{
  padding: 0 2.5px !important;
  min-height: 48px;
  height: unset !important;
  flex-wrap: nowrap !important;
  overflow: hidden;
}

.fg{
  position: relative;
  //z-index: 2;
  margin: 0;
  label{
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 158%;
    color: #99A4C2;
  }
  input {
    background-color: #F1F6FE;
    border: 1px solid #E0EBFC;
    padding: 0 25px;
    height: 65px;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    border-radius: 8px;
    color: #232445;
    &::placeholder {
      color: #A0A1C0;
    }
    &:focus {
      border-color: #6D71F9;
      background-color: #fff;
    }
  }

}
