body{
  background: #FAFBFF;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.container{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.content{
  padding: 40px 0 50px;
}
