.docs{
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px 30px;
  &__item{
    width: 100px;
    margin: 20px 10px 0;
    &-img{
      width: 100%;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F1F5FF;
      border-radius: 15px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title{
      font-weight: 500;
      font-size: 14px;
      line-height: 121.4%;
      margin-top: 10px;
      text-align: center;
    }
  }
  &__input{
    width: 100px;
    height: 110px;
    margin: 20px 10px 0;
    border: 1px dashed #6D71F9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    color: #6D71F9;
    svg{
      margin-bottom: 11px;
    }
    input{
      opacity: 0;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
